@model IEnumerable<NetCoreSeguridadEmpleados.Models.Empleado>

@{
    ViewData["Title"] = "Compis";
}

<h1 style="color:fuchsia">Compis de Trabajo</h1>

@if (Context.User.IsInRole("PRESIDENTE") == true
|| Context.User.IsInRole("DIRECTOR") == true)
{
    <partial name="_FormUpdateSalarios"/>
}

<table class="table table-bordered table-warning">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdEmpleado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Oficio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departamento)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdEmpleado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Oficio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departamento)
            </td>
        </tr>
}
    </tbody>
</table>
